h1
a:link
.manythings
#onething
*
.box p
.box p:first-child
h1, h2, .intro

h1 {
    color: purple;
    background-color: yellow;
    border: 1px solid black;
  }
  

  p {
    color: rgb(143, 78, 78);
  }

h2 {
    color: rgb(73, 43, 73);
    background-color: rgb(138, 138, 1);
    border: 1px solid black;
}

p {
    color: rgb(133, 48, 78);
  }