.helpme {
  margin: auto;
  align-items: stretch;
  background-color: rgb(61, 61, 65);
  color: whitesmoke;
}

h1 {
  box-shadow: 1px 1px 1px 1px rgb(54, 19, 54);
}

p {
  color: rgb(230, 173, 173);
}

.special {
  color: rgb(172, 24, 24);
}

p {
  color: rgb(174, 174, 236);
}

p {
  position: relative;
  margin: auto;
  transform: scale(1);
}

input[type='submit']:hover {
  position: reletive;
  background-color: #ccffff;
}

div {
  position: relative;
  float: center;
  border-radius: 10px;
}

p:hover {
  position: relative;
  left: 55em;
  transform: scale(1.2);
}

div:hover {
  transform: scale(0.9);
}

div {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-left: 0px;
  background: repeating-linear-gradient(
    35deg,
    #ccffff,
    #ffcccc,
    rgb(204, 204, 255)
  );
}

button {
  position: relative;

  left: 45%;
  background-color: #ccffff;
  box-shadow: 1px 1px 1px 1px purple;
}

.sr-only {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-left: 0px;
  overflow: hidden;
}

body {
  color: hsl(0, 60%, 35%);
  background-color: whitesmoke;
}

.click-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
}

.zone {
  cursor: pointer;
  display: block;
  text-align: center;
  font-size: 10em;
  border-radius: 4px;
  border: 1px solid #bbb;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
